---
---

$header-heading-color: #000;
$header-bg-color: #004499;
$header-bg-color-secondary: #99FFFF;
$section-headings-color: #004499;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color, $header-bg-color-secondary);
  padding: 30px 0px;
}
