<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:site_name" content="Real-Time Oceanographic">
    <meta property="og:title" content="Real-Time Oceanographic LLC">
    <meta property="og:description" content="Expert insights, analyses, experimental design services, and marine instrumentation in support of a broad range of oceanographic investigations">
    <meta property="og:image" content="/assets/img/brandmark.png">
    <meta property="og:url" content="https://www.realtimeoceanographic.com">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <img src="/assets/img/full_text_white.png" alt="RTO Logo" width="400">
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Copyright &copy; Real-Time Oceanographic LLC</span>
      </footer>
    </main>

  </body>
</html>
